<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">com.krawler.hql.payroll.ExHibernate.ExMySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.0.148:3306/staginghrms</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">krawler</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.connection.characterEncoding">UTF-8</property>
    <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hqlhrms</property>
    <property name="hibernate.connection.username">krawlersqladmin</property>
    <property name="hibernate.connection.password">Krawler[X]</property-->
    <property name="show_sql">true</property>
    <!--<property name="hbm2ddl.auto">update</property>-->
    <!-- Use the C3P0 connection pool provider -->
    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">50</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.c3p0.acquire_increment">3</property>
    <!-- JDBC connection pool (use the built-in) -->
    <!-- <property name="connection.pool_size">10</property> -->
    <mapping resource="com/krawler/common/admin/User.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/RoleUserMapping.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Useraccount.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/UserLogin.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Company.hbm.xml"/>
	<mapping resource="com/krawler/common/admin/Language.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/KWLTimeZone.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/KWLDateFormat.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ProjectFeature.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ProjectActivity.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/UserPermission.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/KWLCurrency.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Country.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/CompanyHoliday.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/AuditGroup.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/AuditAction.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/AuditTrail.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ResetPassword.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ConfigType.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ConfigData.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ConfigMaster.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Modules.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/DefaultHeader.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/ImportLog.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/CostCenter.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Applicants.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Positionmain.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/allapplications.hbm.xml"/>
    <mapping resource="com/krawler/hrms/master/master.hbm.xml"/>
    <mapping resource="com/krawler/hrms/master/masterdata.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Managecmpt.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Mastercmpt.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/appraisalmanagement.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/CompetencyDesMap.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/CompetencyQuestion.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/QuestionGroup.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/ReviewerQuestionMap.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/AppraisalQuestionAnswers.hbm.xml"/>
	<mapping resource="com/krawler/hrms/performance/AppraisalmanagementQuestionAnswers.hbm.xml"/>
    <mapping resource="com/krawler/hrms/timesheet/timesheet.hbm.xml"/>
    <mapping resource="com/krawler/hrms/timesheet/TimesheetTimer.hbm.xml"/>
    <mapping resource="com/krawler/hrms/compennsation/Compensation.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/finalgoalmanagement.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Agency.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Recruiter.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Assignmanager.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Applyagency.hbm.xml"/>
    <mapping resource="masterDB/Payhistory.hbm.xml"/>
    <mapping resource="masterDB/PayrollHistory.hbm.xml"/>
    <mapping resource="masterDB/Historydetail.hbm.xml"/>
    <mapping resource="masterDB/AudittrailPayroll.hbm.xml"/>
    <mapping resource="masterDB/Template.hbm.xml"/>
    <mapping resource="masterDB/Componentmaster.hbm.xml"/>
    <mapping resource="masterDB/SpecifiedComponents.hbm.xml"/>
    <mapping resource="masterDB/MalaysianDeduction.hbm.xml"/>
    <mapping resource="masterDB/MalaysianTaxSlab.hbm.xml"/>
    <mapping resource="masterDB/MalaysianUserIncomeTaxInfo.hbm.xml"/>
    <mapping resource="masterDB/MalaysianUserTaxComponent.hbm.xml"/>
    <mapping resource="masterDB/MalaysianUserTaxBenefits.hbm.xml"/>
    <mapping resource="masterDB/MalaysianUserTaxComponentHistory.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormAmanahSahamNasional.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormTabungHaji.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormCP21.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormHRDLevy.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaCompanyForm.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormTP1.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormTP2.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormTP3.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormCP39.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormCP39A.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormPCB2.hbm.xml"/>
    <mapping resource="masterDB/MalaysiaFormEA.hbm.xml"/>
    <mapping resource="masterDB/ComponentRule.hbm.xml"/>
    <mapping resource="masterDB/UserTaxDeclaration.hbm.xml"/>
    <mapping resource="masterDB/ComponentResourceMapping.hbm.xml"/>
    <mapping resource="masterDB/ComponentResourceMappingHistory.hbm.xml"/>
    
    <mapping resource="masterDB/Wagemaster.hbm.xml"/>
    <mapping resource="masterDB/Deductionmaster.hbm.xml"/>
    <mapping resource="masterDB/Taxmaster.hbm.xml"/>
    <mapping resource="masterDB/EmployerContribution.hbm.xml"/>
    <mapping resource="masterDB/Templatemapdeduction.hbm.xml"/>
    <mapping resource="masterDB/Templatemaptax.hbm.xml"/>
    <mapping resource="masterDB/Templatemapwage.hbm.xml"/>
    <mapping resource="masterDB/TemplateMapEmployerContribution.hbm.xml"/>
    <mapping resource="masterDB/TempTemplatemaptax.hbm.xml"/>
    <mapping resource="masterDB/TempTemplateMagDeduction.hbm.xml"/>
    <mapping resource="masterDB/TempTemplatemapwage.hbm.xml"/>
    <mapping resource="masterDB/TempTemplate.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Role.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Rolelist.hbm.xml"/>
    <mapping resource="com/krawler/hrms/ess/Empprofile.hbm.xml"/>
    <mapping resource="com/krawler/hrms/ess/Empexperience.hbm.xml"/>
    <mapping resource="com/krawler/hrms/common/docs/HrmsDocmap.hbm.xml"/>
    <mapping resource="com/krawler/hrms/common/docs/HrmsDocs.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Jobapplicant.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/Jobprofile.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/ConfigRecruitment.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/ConfigRecruitmentData.hbm.xml"/>
    <mapping resource="com/krawler/hrms/recruitment/ConfigRecruitmentMaster.hbm.xml"/>
    <mapping resource="com/krawler/common/docs/PDFReportTemplate.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Appraisal.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/GoalComments.hbm.xml"/>
    <mapping resource="com/krawler/hrms/ess/Emphistory.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Assignreviewer.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Appraisalcycle.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/CompanyPreferences.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/SystemTimeZone.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/hrms_Modules.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/Goalrating.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/widgetManagement.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/hrms_EmailTemplates.hbm.xml"/>
    <mapping resource="com/krawler/hrms/performance/competencyAvg.hbm.xml"/>
    <mapping resource="com/krawler/common/admin/Apiresponse.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/HtmlTemplate.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/PlaceHolder.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/PlaceHolderLookup.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/PlaceHolderMapping.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/TargetList.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/TargetListTargets.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/LetterHistory.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/EmailTemplateFiles.hbm.xml"/>
    <mapping resource="com/krawler/spring/hrms/template/db/ThemeImages.hbm.xml"/>
    <!--<mapping resource="com/krawler/spring/hrms/template/db/TargetModule.hbm.xml"/>-->
	<mapping resource="com/krawler/common/admin/UserSearchState.hbm.xml"/>
    <mapping resource="masterDB/userSalaryTemplateMap.hbm.xml"/>
    <mapping resource="masterDB/PayrollSummary.hbm.xml"/>
    <mapping resource="masterDB/CompanyEPFInfo.hbm.xml"/>
    <mapping resource="/com/krawler/common/admin/Bookmarks.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
