<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>platformURL</param-name>
        <param-value>http://192.168.0.223:8084/deskeraplatform/</param-value>
    </context-param>
    <context-param>
        <param-name>crmURL</param-name>
        <param-value>http://192.168.0.102:8084/HQLCrm/</param-value>
    </context-param>
    <context-param>
        <param-name>hrmsURL</param-name>
        <param-value>http://192.168.0.86:8080/hrms/</param-value>
    </context-param>
    <context-param>
        <param-name>eleaveURL</param-name>
        <param-value>http://192.168.0.198:8080/eleave/</param-value>
    </context-param>
    <!--<servlet>
        <servlet-name>context</servlet-name>
        <servlet-class>
		 org.springframework.web.context.ContextLoaderServlet
	  </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>  -->
    <servlet>
        <servlet-name>Common</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/common/conf/Common-servlet.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Common</servlet-name>
        <url-pattern>*.common</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payroll</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/payroll/conf/Payroll-servlet.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payroll</servlet-name>
        <url-pattern>*.py</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Rec</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/rec/conf/Rec-servlet.xml</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rec</servlet-name>
        <url-pattern>*.rec</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Performance</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/performance/conf/Performance-servlet.xml</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Performance</servlet-name>
        <url-pattern>*.pf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Commmonlibs</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/commonlibs/conf/Commonlibs-servlet.xml</param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Commmonlibs</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Timesheet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/timesheet/conf/Timesheet-servlet.xml</param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Timesheet</servlet-name>
        <url-pattern>*.ts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:com/krawler/spring/hrms/conf/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.dsh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>dispatcher</servlet-name>
    	<url-pattern>/props/*</url-pattern>
	</servlet-mapping>
    <!--<context-param>
		<param-name>serverName</param-name>
		<param-value>http://hrms.asm.com:8084</param-value>
	</context-param>
	<context-param>
		<param-name>casServerUrlPrefix</param-name>
		<param-value>https://localhost:8443/auth/</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLoginUrl</param-name>
		<param-value>https://localhost:8443/auth/login</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLogoutUrl</param-name>
    	<param-value>https://localhost:8443/auth/logout</param-value>
	</context-param>
	<context-param>
		<param-name>companyRedirectionPattern</param-name>
    	<param-value>/a/([^\/]*)/(.*)</param-value>
	</context-param>
	<filter>
   		<filter-name>CAS Single Sign Out Filter</filter-name>
   		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
 	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
   		<filter-name>CAS Single Sign Out Filter</filter-name>
   		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>-->
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/a/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/b/*</url-pattern>
    </filter-mapping>
    <context-param>
   		<param-name>localeResolver</param-name>
   		<param-value>com.krawler.common.locale.SessionLocaleResolver</param-value>
	</context-param>
	<context-param>
   		<param-name>messageSourceBaseName</param-name>
   		<param-value>msgs/messages</param-value>
	</context-param>
	<listener>
   		<description>ServletContextListener</description>
   		<listener-class>com.krawler.common.filters.LocaleResolverBuilder</listener-class>
	</listener>
	<listener>
  		<description>RequestListener</description>
  		<listener-class>com.krawler.common.filters.LocaleResolverListener</listener-class>
	</listener>
    <servlet>
        <servlet-name>ProfileImages</servlet-name>
        <servlet-class>com.krawler.esp.servlets.ProfileImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportLeavePdfServlet</servlet-name>
        <servlet-class>com.krawler.esp.servlets.ExportLeavePdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remoteapi</servlet-name>
        <servlet-class>com.krawler.esp.servlets.remoteapi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>video</servlet-name>
        <servlet-class>com.krawler.esp.servlets.StreamVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bind</servlet-name>
        <servlet-class>org.mortbay.cometd.continuation.ContinuationCometdServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>bind</servlet-name>
        <url-pattern>/bind/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remoteapi</servlet-name>
        <url-pattern>/remoteapi.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportLeavePdfServlet</servlet-name>
        <url-pattern>/exportLeavePdfServlet.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileImages</servlet-name>
        <url-pattern>/images/store/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fdownload</servlet-name>
        <servlet-class>com.krawler.esp.servlets.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fdownload</servlet-name>
        <url-pattern>/fdownload.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>com.krawler.esp.servlets.fileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/file.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>com.krawler.esp.servlets.ExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>appraise</servlet-name>
        <servlet-class>com.krawler.esp.servlets.AppraisalDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appraise</servlet-name>
        <url-pattern>/appraise.jsp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view.jsp</welcome-file>
    </welcome-file-list>
    <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>
