body {
    font-family: "trebuchet MS", tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #eee;
    margin: 0;
}

.errCls {
    color: #FF0000;
    font-size: .7em !important;
    font-family: Tahoma;
    font-weight: bold;
}

.infoCls {
    color: #00689D;
    font-size: .7em !important;
    font-family: Tahoma;
    font-weight: bold;
}

a {
    color: #0063DC;
    text-decoration: none;
    font-size: .8em;
    padding: 1px;
}

a:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #0063DC;
}

a img {
    border: 0;
}

.content {
    width: 350px;
    text-align: left;
    margin: auto;
    padding: 20px;
    border: 10px solid #ccc;
    background-color: white;
}

#bookmarkheader{
    width: 100%;
    position: absolute;
    left: 0%;
    top: 15%;
    color: black;
}

.login {
    margin: auto;
    text-align: left;
}

.prompt {
    text-align: left;
}

#wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
}

#content {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 25%;
    color: black;
}

.labels {
    display: block;
    float: left;
    width: 100px;
}

.inputbox {
    display: block;
    float: left;
    width: 230px;
}

.errorprompt {
    font-weight: bold;
    color: red;
    visibility: hidden;
}

#LoginButton {
    width: 63px;
}

#usrFeedback {
    margin-left: 12px;
}

.loadingFB {
    color: black;
    background: url('../images/loading.gif') no-repeat top left;
    padding-left: 16px;
}

.errorFB {
    color: red;
    background: none;
    padding-left: 0;
}

.infoFB {
    color: green;
}

.content p {
    margin: 7px 0 13px;
}

.shortcuts {
    border-top: 1px dashed #CCCCCC;
    margin-top: 10px;
    padding: 10px 0 0;
}

.content input {
    font-size: 14px;
}

.companylogo {
    margin: 0 0 10px;
    text-align:center
}

.content h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.content span {
    font-size: 0.8em;
}
