/* 
    Document   : ImportWizard
    Created on : Sep 9, 2010, 3:59:37 PM
    Author     : krawler
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
root { 
    display: block;
}*/
@charset "utf-8";
/***** Global Settings *****/
/** {
	margin:0;
	padding:0;
	outline:none;
}
html, body {
	border:0;
	margin:0px;
	padding:0px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
}
body {
	font:12px/1.25 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
*/	/*color:#4d4d4d;*/
/*	line-height:18px;
	margin-top:50px;
	margin-left:50px;
}
*/
.importIcon{
    background: transparent url(../images/importWizard/import-tbar.gif) no-repeat scroll 0px -170px !important;
}

.x-progress-bar-default .x-progress-bar{
    background:#9CBFEE url(../lib/resources/images/default/progress/progress-bg.gif) repeat-x scroll left center !important;
}

.popup-info a{
    color:#083772;
    text-decoration: none;
}

.popup-info a:hover{
    color: #445566;
    text-decoration: underline;
}

/*.wapper {
	width:786px;
	float:left;
	border:1px solid #99bbe8;
	padding:5px;
}
.top-nav-wapper {
    font:12px/1.25 Arial, Helvetica, sans-serif;
	width:100%;
	float:left;
}


.nav-welcome {
	background:#e31a15 url(../images/importWizard/sprite_tag.jpg) no-repeat top right;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-welcome p {
	color:#FFFFFF;*/
	/*font-weight:bold;*/
/*	font-size:13px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-welcome p span {
	font-size:13px;
	font-weight:normal;
}
.nav-step1 {
	background:#0071b9 url(../images/importWizard/sprite_tag.jpg) no-repeat right -40px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step1 p {
	color:#FFFFFF;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step1 p span {
	font-size:12px;
	font-weight:normal;
}
.nav-step2 {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -80px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step2 p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step2 p span {
	font-size:12px;
	font-weight:normal;
}
.nav-step3 {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -80px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step3 p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step3 p span {
	font-size:12px;
	font-weight:normal;
}
.nav-step4 {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -80px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step4 p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step4 p span {
	font-size:12px;
	font-weight:normal;
}
.nav-step5 {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -80px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step5 p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step5 p span {
	font-size:12px;
	font-weight:normal;
}


.nav-step1-red {
	background:#e31a15 url(../images/importWizard/sprite_tag.jpg) no-repeat right 0px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step1-red p {
	color:#FFFFFF;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step1-red p span {
	font-size:12px;
	font-weight:normal;
}

.nav-welcome-default {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -120px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-welcome-default p {
	color:#979697;
	font-weight:bold;
	font-size:13px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-welcome-default p span {
	font-size:12px;
	font-weight:normal;
}

.nav-welcome-def-gray {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -80px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-welcome-def-gray p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-welcome-def-gray p span {
	font-size:12px;
	font-weight:normal;
}

.nav-step1-red-def {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -120px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step1-red-def p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step1-red-def p span {
	font-size:12px;
	font-weight:normal;
}


.nav-step1-def-gray {
	background:#e6e7eb url(../images/importWizard/sprite_tag.jpg) no-repeat right -80px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step1-def-gray p {
	color:#979697;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step1-def-gray p span {
	font-size:12px;
	font-weight:normal;
}
.nav-step2-blue {
	background:#0071b9 url(../images/importWizard/sprite_tag.jpg) no-repeat right -40px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step2-blue p {
	color:#ffffff;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step2-blue p span {
	font-size:12px;
	font-weight:normal;
}

.nav-step5-red {
	background:#e41a16 url(../images/importWizard/sprite_tag.jpg) no-repeat right -200px;
	width:12.5%;
	height:39px;
	float:left;
}
.nav-step5-red p {
	color:#ffffff;
	font-weight:bold;
	font-size:15px;
	margin:5px 0 0 7px;
	padding:0;
	line-height:15px;
}
.nav-step5-red p span {
	font-size:12px;
	font-weight:normal;
}*/

.popup-info p{
	padding: 0px;
}
.popup-info {
	width:100%;
	float:left;
	font-size:14px;
	padding-left:5px;
    font:12px/1.25 Arial, Helvetica, sans-serif;
}
.popup-info-padding-none {
	width:100%;
	float:left;
	font-size:14px;
}
.blue-h2 {
	font-size:20px;
	color:#002d76;
	margin-top:22px;
	font-weight:normal;
}
.right-bullets {
	padding-top: 3px;
	padding-bottom: 4px;
	width:100%;
	float:left;
}
.right-bullets span {
	padding:0 0 0 6px;
	color: #FFFFFF;
	font-weight:bold;
	background: url(../images/importWizard/bullet.jpg) left top no-repeat;
	width: 20px;
	float: left;
	line-height: 20px
}
/*.alert-bullets {
	padding:12px 0 0 25px !important;
	background: url(../images/importWizard/alert-bullet.jpg) left 13px no-repeat;
}

.blue-heading{
background-color:#0071b9;
height:30px;
width:100%;
float:left;
margin-top:10px;
}

.right-blue-bullets {
	padding-top: 3px;
	padding-bottom: 4px;
	width:100%;
	float:left;
}
.right-blue-bullets span {
background:url("../images/importWizard/white-bullate.jpg") no-repeat scroll 4px 2px transparent;
color:#0071B9;
float:left;
font-weight:bold;
line-height:24px;
padding:0 0 0 10px;
width:21px;
}

.right-blue-bullets p {
font-size:15px;
color:#FFFFFF;
font-weight:bold;
width:96%;
float:left;
margin-top:3px;
}*/
