.sibContDiv{
    width: 100%;
    float: left;
    margin-bottom: 7px;
}
.WAIT {
    background-color: white;
}
.UNS {
    background-color: #FFF0F0;
}
.SUB{
    background-color: #EFFFEE;
}
.sublink{
    width: 20%;
    float: left;
}
.subscriptionDiv, .statusDiv{
    float: left;
    font-size: 12px;
}
.subscriptionDiv{
    width: 40%;
    color: green;
}
.statusDiv{
    width: 25%;
}
.linkPanelBorder div{
    margin-top: 1px;
}

.linkPanelBorder div{
    border: 0px solid !important;
}
.linkPanelBorder a{
    color: blue;
    cursor: pointer;
    margin-left: 5px;
}
/*patch for chrome*/
textarea{
    resize: none;
}

.inviteFieldSet{
    margin-left: 0px !important;
/*    margin-top: 10px !important;*/
}

.fieldContainerClass {
    padding-bottom: 6px;
    padding-left: 120px !important;
}
.companyFieldSet .wtf-el-mask{
    background-color: white !important;
}
.companyFieldSet {
    border: 0px solid red !important;
    margin-left: 20px !important;
    margin-right: 10% !important;
    margin-top: 16px !important;
    width: 70%;
}

.inviteFieldSet{
    margin-left: 0px !important;
    margin-top: 10px !important;
}

.timeFieldSet {
    margin-left: 20px !important;
    margin-right: auto !important;
    margin-top: 16px !important;
    width: 350px;
    float: left;
}
.adminButton{
    width: 60px !important;
}

.adminWinCont{
    width:100%;
    height:100%;
    position:relative;
    float:left
}

.adminWinImgDiv{
    float:left;
    height:100%;
    width:auto;
    position:relative;
}

.adminWinImg{
    width:40px;
    height:52px;
    margin:5px 5px 5px 5px;
}

.adminWinDesc{
    float:left;
    height:100%;
    width:80%;
    position:relative;
}

.adminWinTitle{
    font-size:12px;
    font-style:bold;
    float:left;
    margin:20px 0 0 10px;
    width:100%;
    position:relative;
}

.adminWinAbout{
    font-size:10px;
    float:left;
    margin:15px 0 0 10px;
    width:100%;
    position:relative;
}

.wtfbutton {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    float: left;
    text-decoration: none;
    width: 72px;
    height: 91px;
    margin: 5px;
    color: #fff;
    list-style-type: none;
    font-size: 11px;
}

a:active {
    outline: none;
}

a:focus {
    -moz-outline-style: none;
}

.wtfbutton img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    cursor: pointer;
}

.wtfbutton span.label, .wtfbutton span.labelShadow {
    position: absolute;
    text-align: center;
    cursor: pointer;
    padding: 0 1px;
    width: 70px;
}

.wtfbutton span.label {
    top: 65px;
    left: 0;
    z-index: 2;
}

.wtfbutton span.labelShadow {
    top: 66px;
    left: 1px;
    color: #215186;
}

.wtfbuttonTrans {
    margin: -37px 0;
    float: left;
    height: 90px;
    width: 71px;
    z-index: 10000;
    position: absolute;
}

#images-view .x-panel-body {
    background: white;
}

#images-view .thumb, #images .thumb {
    background: #dddddd;
    padding: 3px;
}

#images-view .thumb img, #images .thumb img {
    height: 60px;
    width: 80px;
}

#images-view .thumb-wrap, #images .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

#images-view .thumb-wrap span, #images .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

#images-view .x-view-over {
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
    border: 1px solid #dddddd;
    padding: 4px;
}

#images-view .x-view-selected {
    background: #eff5fb url(images/selected.gif) no-repeat right bottom;
    border: 1px solid #99bbe8;
    padding: 4px;
}

#images-view .x-view-selected .thumb {
    background: transparent;
}

#images-view .loading-indicator {
    font-size: 11px;
    background-image: url('../../resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}

#images {
    background: #fff url( ../tree/center-bg.gif ) repeat-x top left;
}

#images .thumb img {
    border: 1px solid white;
}

#images .x-view-selected .thumb {
    background: #8db2e3;
}

.savebutton {
    margin: 0 8px 0 0;
}

.tagwindow {
    height: auto;
    width: 285px;
    border: none;
}

.About {
    height: 70px;
}

.tabimage {
    height: 100px;
    width: 100px;
    margin: 0 16px 0 0;
}

.addtagbutton {
    cursor: pointer;
}

.mytagspan {
    margin-right: 3px;
    cursor: pointer;
}

.tagselected {
    background-color: #ffffc0;
}

.taghovered {
    background-color: #ffffee;
}

.taghdr {
    float: left;
    font-weight: bold;
    width: 54px;
}

.addppl {
    background-position: 0 -318px !important;
}

.shared {
    background-position: 0 -577px !important;
}

.settings {
    background-position: 0 -338px !important;
}

.settingswt {
    background-position: 0 -340px !important;
}

.create {
    background-image: url(../images/btn_add_quick.gif) !important;
}

.edittags {
    background-position: 0 -818px !important;
}

#tabdashboard .x-column-inner {
    height: 100% !important;
}
/*TravelManager*/
#tabtmdashboard .x-column-inner {
    height: 100% !important;
}

.tmItemsWrap {
   
    padding-bottom: 1px;
    padding-left: 20px;
    background: no-repeat 0 1px;
}
.tmItemsWrap {
     background-image: url(../images/bullet2.gif);
} 

.expensesWrap, .clientWrap, .scheduleWrap, .costcenterWrap, .userMWrap{
    padding-bottom: 3px;
    padding-left: 20px;
    background: no-repeat 0 1px;
}
.accountsWrap, .docsMWrap, .groupWrap, .tripsWrap, .reportsWrap, .leaveStatusWrap, .travelAgentWrap{
    padding-bottom: 3px;
    padding-left: 20px;
    background: no-repeat 0 1px;
}
.reportsWrap{
    background-image: url(../images/tm/report.gif);
}
.travelAgentWrap{    
    background-image: url(../images/tm/group.jpg);
} 
.expensesWrap{    
    background-image: url(../images/bell.gif);
} 
.clientWrap {    
    background-image: url(../images/tm/client.jpg);
} 
.scheduleWrap {    
    background-image: url(../images/competencymaster.gif);
} 
.costcenterWrap {
    background-image: url(../images/Recruit.gif);
} 
.userMWrap {
    background-image: url(../images/performance.gif);
}
.alertWrap1 {
    background-image: url(../images/bell.gif);
}
.accountsWrap {
    background-image: url(../images/time.gif);
}
.docsMWrap {
    background-image: url(../images/AuditTrail.png);
}
.groupWrap {
    background-image: url(../images/money.gif);
}
.tripsWrap {
    background-image:url(../images/monasdey.gif);
}
.PaysWrap {
    background-image:url(../images/mdfgoney.gif);
}
/* TRAVEL MANAGER CSS ENDS: */

/*LeaveManager*/

#tableavedashboard .x-column-inner {
    height: 100% !important;
}
.leaveStatusWrap{
    background-image: url(../images/leavem/leaveM.png);
}

/* LEAVE MANAGER CSS ENDS: */

.x-column-inner {
    width: 100% !important;
}

.dash, .dash-bwrap, .dash-body, .x-plain-bwrap {
    height: 100% !important;
}

.columndash {
    width: 33%;
    height: 100%;
}

.dashpanel {
    height: 45% !important;
    padding-bottom: 16px;
    background: transparent;
}

.x-panel-body p {
    margin: 5px;
}

.x-column-layout-ct .x-panel-dd-spacer {
    margin-bottom: 10px;
}

.x-column-layout-ct .x-panel-ml, .x-column-layout-ct .x-panel-bl {
    padding-left: 2px;
}

.x-column-layout-ct .x-panel-mr, .x-column-layout-ct .x-panel-br {
    padding-right: 2px;
}

.x-column-layout-ct .x-panel-mc {
    padding-top: 2px;
}

.x-column-layout-ct .x-panel-bc .x-panel-footer {
    padding-bottom: 2px;
}

.x-column-layout-ct .x-panel-nofooter .x-panel-bc {
    height: 2px;
}

#search-results a {
    color: #385F95;
    text-decoration: none;
}

#search-results a:hover {
    text-decoration: underline;
}

#search-results .search-item {
    padding: 5px;
}

#search-results p {
    margin: 3px !important;
}

#search-results {
    border-bottom: 1px solid #ddd;
    margin: 0 1px;
    height: 300px;
    overflow: auto;
}

#search-results .x-toolbar {
    border: 0 none;
}

.readAreaClass {
    overflow: auto;
    background-color: white;
    width: 100%;
    position: relative;
    /*height: 124px; */
    height: 100%;
}

.K-icon {
    background-image: url(../images/Online.png);
}

.K-iconOffline {
    background-image: url(../images/Offline.png);
}

.wrappertemplate, .wrapperUInfo {
    position: relative;
    padding: 1%;
    background-color: #DFE8F6;
    width: 97%;
}

.wrappertemplate {
    margin: 1%;
    height: 11%;
}

.wrapperUInfo {
    margin-left: 1%;
    height: 70px;
}

.onlineClass, .offlineClass {
    float: left;
    position: relative;
    width: 70%;
    font-size: 7.5pt;
    margin: 2px;
}

.offlineClass {
    color: gray;
}

.onlineClass {
    color: green;
}

.sdivclass {
    background-color: #DFE8F6;
    float: left;
}

.collapse, .collapse-toggle {
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: left;
    margin-left: 1px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.collapse {
    background: transparent url(../lib/resources/images/default/panel/tool-sprites.gif) no-repeat scroll 0 -75px;
}

.collapse-toggle {
    background: transparent url(../lib/resources/images/default/panel/tool-sprites.gif) no-repeat scroll 0 -120px;
}

.header {
    background: #dde7ee;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    padding: 3px 2px 2px 3px;
    color: #00156e;
}

.btndiv {
    float: right;
}

.nxtBtnDivout, .nxtBtnDivover, .nxtBtnDivNone {
    float: left;
    height: 16px;
    width: 16px;
    margin-left: 2px;
}

.nxtBtnDivout {
    background: url('../images/4-16px.png') no-repeat;
}

.nxtBtnDivover {
    background: url('../images/6-16px.png') no-repeat;
    cursor: pointer;
}

.nxtBtnDivNone {
    background: url('../images/2-16px.png') no-repeat;
}

.preBtnDivout, .preBtnDivover, .preBtnDivNone {
    float: left;
    height: 16px;
    width: 16px;
    margin-right: 2px;
}

.preBtnDivout {
    background: url('../images/3-16px.png') no-repeat;
}

.preBtnDivover {
    background: url('../images/5-16px.png') no-repeat;
    cursor: pointer;
}

.preBtnDivNone {
    background: url('../images/1-16px.png') no-repeat;
    cursor: pointer;
}

.headercontent, .label {
    float: left;
}
.headercontent{
    width: 100%;
}
.label{
    width: auto;
}
.pagging {
    float: right;
    margin-right: 4px;
}

.container {
    background-color: transparent;
}

.loading {
    float: left;
    width: auto;
    height: auto;
    font-size: 12px;
}

.x-panel-body-noborder-KWL {
    border: none;
    height: auto;
}

.wtfbulletlist {
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #ffffff;
}

.wftbulletlist tbody {
    float: left;
    width: 100%;
}

.wtfbulletlist td img.bullet {
    margin: 0;
    padding: 0;
}

.wtfbulletlist td.titletd, .wtfbulletlist td.titletd div {
    width: 100%;
    padding: 0;
    margin: 0;
}

.wtfalert {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    float: left;
    margin: 6.5px;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
}

.wtfalert img {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.wtfalert span.label, .wtfalert span.labelShadow {
    position: absolute;
    width: 92%;
    padding: 0 5px;
    margin-top: -3px;
}

.wtfalert span.label {
    top: 3px;
    left: 15px;
    cursor: pointer;
    z-index: 2;
}

.wtfalert span.labelShadow {
    top: 4px;
    left: 16px;
    color: #215186;
}

.forum_plus, .forum_minus, .forum_blank {
    width: 15px;
    height: 13px;
    float: left;
    margin-left: 3px;
    display: block;
}

.forum_blank {
    background: url('../lib/resources/images/default/s.gif') no-repeat center;
}

.forum_postImage {
    float: left;
    display: block;
    margin-left: 3px;
    background-position: center;
}

.forum_defaultText {
    float: left;
    min-width: 25%;
    margin-left: 3px;
}

.MyTabPanel {
    width: 100%;
    height: 100%;
}

.msgTop {
    border: solid 4px #5b84ba;
    width: 99%;
    height: 189px;
}

.tabadd {
    width: 100% !important;
    height: 100% !important;
}

.msginsideTop {
    height: 50px;
    border-bottom: solid 1px gray;
    margin-left: 20px;
    margin-right: 5px;
    width: 97% !important;
}

.msginsideTop1 {
    overflow: auto;
    height: 90% !important;
    padding: 2%;
    font-weight: bold;
    width: 80% !important;
}

.msginsideCenter {
    margin: 10px 0 0 1px;
    width: 90%;
    height: 60px;
    color: #15428b;
    font-size: 10pt;
    font-weight: bold;
}

.composemail {
    background-position: 0 -876px !important;
}

.htmledit {
    width: 98%;
    height: 98%;
}

.smiley {
    background-image: url(../images/smiley1.gif) !important;
}

.closeicon {
    background-position: 0 -1118px !important;
}

.forum_fromdiv {
    font-weight: normal;
    color: black;
    margin-left: 24px;
    float: left;
    width: 35%;
    min-height: 15px;
    margin-top: 3px;
    padding-top: 7px;
}

.sendmsg, .invite {
    background-position: 0 -1218px !important;
}

.sendmsgwt {
    background-position: 0 -1220px !important;
}

.compose {
    background-position: 0 -178px !important;
}

.outbox {
    background-position: 0 -198px !important;
}

.outboxCx {
    background-position: 0 -200px !important;
}

.x-tree-selected {
    background: #DFE8F6;
}

.x-tree-node-icon {
    height: 16px !important;
}

.x-tree-node .x-tree-selected a span {
    background: transparent;
    color: #15428b;
    font-weight: bold;
}

.post-date {
    font-weight: bold;
    color: #333;
}

.x-tree {
    background: #fff !important;
}

.tab1BaseClass-body {
    height: 100% !important;
    position: absolute !important;
}

.msg x-box-mc {
    font-size: 14px;
}

#msg-div {
    width: 250px;
    z-index: 6000;
    position: absolute;
}

.starImgDiv, .forum_flag {
    vertical-align: middle;
}

.removeCom {
    background-position: 0 -1238px !important;
}

.addresource{
    background-position: 0 -1261px !important;
}

.editresource{
    background-position: 0 -1485px !important;
}

.deleteresource{
    background-position: 0 -1281px !important;
}

.dropMember{
    background-position: 0 -1523px !important;
}

.setActiveMember{
    background-position: 0 -1546px !important;
}

.inviteUsericon{
    background-position: 0 -1567px !important;
}

.requests {
    background-position: 0 -38px !important;
}

.setModerator {
    background-position: 0 -1260px !important;
}

.remModerator {
    background-position: 0 -1280px !important;
}

.editUser {
    background-position: 0 -1485px !important;
}

.changePwd {
    background-position: 0 -1733px !important;
}

.setModerator {
    background-position: 0 -1258px !important;
}

.remModerator {
    background-position: 0 -1278px !important;
}

.setFeatured {
    background-position: 0 -138px !important;
}

.tagtitle {
    font-weight: bold;
}

.taga {
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
}

.taga:hover {
    background-color: #ffe;
    color: #000;
}
/* TBD, new stuff */
.dashboardLayout, .listpanelcontent {
    padding: 8px;
}
.permicon {
    background-position: 0 -854px !important;
}

.managericon {
    background-position: 0 -16px !important;
}

.listpanelcontent {
    font-size: 13px;
    color: black;
}

.statusTextWrap {
    color: DarkSlateGray;
   /* padding-left:10px;*/
}

.statusTableWrap {
    color: DarkSlateGray;
	font-size:11px;
	padding:8px;
   /* padding-left:10px;*/
}
.statusTableWrap th{
	text-align: right;
	font-weight:bold;
	line-height:25px;
}
.statusTableWrap td{
	border-bottom: 1px solid #EEEEEE;
	text-align: right;
	padding: 3px;
}

.holidayDelete{
    width: 12px;
    height: 12px;
    cursor: pointer;
    /*float:left;*/
    margin-top: 2px;
}

.holidaySpan{
    /*float: left;
    margin-right: 3px;
    */
    overflow:hidden;
    
}

.holidayDiv{
    color: black;
    display: block;
    border-bottom: 1px solid #999999;
    width: 300px;
    float: left;
}
.holidayspanwidth {
    width: 150px;
}
.dportlet {
    width: 50%;
}

.listpanelheader {
    margin: 8px 8px 0 8px;
    padding: 2px;
}

.announcementWrap, .requestWrap, .qLinksWrap , .userEvtWrap{
    padding-bottom: 3px;
    padding-left: 20px;
    background: no-repeat 0 2px;
}

.announcementWrap {
    background-image: url(../images/announce.gif);
}


.requestWrap {
    background-image: url(../images/alert.gif);
}

.userEvtWrap{
    background-image: url(../images/calendar12.gif);
}

.qLinksWrap, .welcomeTxt h2 {
    background: url(../images/bullet2.gif) no-repeat 0 0;
}

.anElem {
    color: white;
}

.anElem:hover {
/*    background: #FBD76D url(../images/alertbackground.png) repeat-y 0 0;*/
}

.anElem strong {
    font-weight: bold;
}

.uitem {
    height: 20px;
    width: 100%;
}

.utitle {
    margin-right: 2px;
    font-weight: bold;
    background: url(../lib/resources/images/default/layout/stick.gif) no-repeat right;
}

.ucontent {
    clear: both;
    background-color: #ffffe1;
    position: absolute;
    z-index: 20000;
    width: 96%;
    padding: 2%;
    color: black;
    display: none;
}

.ttt {
    padding: 2%;
    color: white;
}

.ucontentwrapper {
    position: relative;
    top: 0px;
}

.rort {
    padding-left: 4px;
    padding-top: 4px;
}

.upelem {
    padding: 3px 20px;
    background-position: 0 4px;
    background-repeat: no-repeat;
}

.elImg-0, .elImg-5 {
    background-image: url(../images/Notes12.gif);
}

.elImg-1 {
    background-image: url(../images/document12.gif);
}

.elImg-2 {
    background-image: url(../images/project12.gif);
}

.elImg-3 {
    background-image: url(../images/community12.gif);
}

.elImg-4 {
    background-image: url(../images/calendar12.gif);
}

.elImg-6 {
    background-image: url(../images/user12.gif);
}

.centered {
    text-align: center;
}

.welcomeTxt {
    text-align: justify;
}

.welcomeTxt h2 {
    color: #083772;
    padding: 1px 16px;
}

.wtElem {
    margin: 4px;
}

.imgMid {
    vertical-align: middle;
	width: 12px;
	height: 12px;
}

.projlist li{
	background: url(../images/project12.gif) no-repeat scroll left bottom;
	padding-left: 16px;	
}

.tasklist{
	background: url(../images/Notes12.gif) no-repeat scroll left bottom;
	padding-left: 16px;
}

.commlist li{
	background: url(../images/community12.gif) no-repeat scroll left bottom;
	padding-left: 16px;
}

.redflag {
    width: 10px;
    height: 10px;
    float: left;
    background: url('../images/FlagRed.gif') no-repeat center;
}

.greyflag {
    width: 10px;
    height: 10px;
    float: left;
    background: url('../images/FlagGrey.gif') no-repeat center;
}

.holidayDelete{
    width: 12px;
    height: 12px;
    cursor: pointer;
    float:left;
    margin-top: 2px;
}
.holidaySpan{
    float: left;
    overflow:hidden;
    margin-right: 3px;
}
.holidayDiv{
    color: black;
    display: block;
    border-bottom: 1px solid #999999;
    width: 300px;
    float: left;
}
.holidayspanwidth {
    width: 150px;
}
.adminWinImg {
    margin:10px 10px 10px 10px;
}
.createUserIcon {
    background-position: 0 -1258px !important;
}
.editUserIcon {
    background-position: 0 -1482px !important;
}
.deleteUserIcon {
    background-position: 0 -1278px !important;
}
.changepwdIcon {
    background-position: 0 -1733px !important;
}
.resetpwdIcon {
    background-position: 0 -1753px !important;
}
